@charset "UTF-8";

.cm-s-inner .cm-variable,
.cm-s-inner .cm-variable-2,
.cm-s-inner .cm-bracket /* html brackets */,
.cm-s-inner .cm-builtin,
.cm-s-inner .cm-def,
.cm-s-inner.cm-def {
  color: #f8f8f0 !important;
}

.cm-s-inner .cm-keyword,
.cm-s-inner .cm-operator {
  color: #91a374;
}

.cm-s-inner .cm-property {
  color: #ffc48c;
}

.cm-s-inner .cm-tag,
.cm-s-inner .cm-attribute,
.cm-s-inner .cm-number,
.cm-s-inner .cm-atom,
.cm-s-inner.cm-atom /* null and bool */ {
  color: #f56991;
}

.CodeMirror div.CodeMirror-cursor {
  border-left: 1px solid #f8f8f0;
  z-index: 3;
}

.cm-s-inner .cm-string,
.cm-s-inner .cm-string-2,
.cm-s-inner .cm-qualifier,
.cm-s-inner .cm-meta, /* include */
.cm-s-inner .cm-variable-3 /* type */ {
  color: #d1f2a5;
}

.cm-s-inner .cm-comment,
.cm-s-inner.cm-comment {
  color: #5c634f;
}

.CodeMirror-selectedtext,
.CodeMirror-selected {
  background: #f5699155 !important;
  text-shadow: none;
}

.CodeMirror-gutters {
  border-right: none;
}
